body {
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}
.container { 
  color: #000;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.header a {
    color: #ffffff;
    text-decoration: none;
}
.header a:hover {
    color: #ccccff;
}
.features {
    padding: 20px;
}
.feature {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
}
.feature h2 {
    margin-top: 0;
}
.feature p {
    margin-bottom: 20px;
}
.call-to-action {
    background-color: #333;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.call-to-action:hover {
    background-color: #ccccff;
}
#baner{
    background-color: #000;
}
#banerimg{
    width: 100%;
    opacity: 70%;
}
#btnhome{
    background-color: #ffffff;
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}